.material {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 294px;
  translate: all 1s;
  &.hidden {
    visibility: hidden;
  }
  &.open {
    visibility: visible;
  }
}

.content {
  margin: 0 294px;
}
.action {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 294px;
  translate: all 1s;
  &.hidden {
    visibility: hidden;
  }
  &.open {
    visibility: visible;
  }
}
