// * {
//   margin: 0;
//   padding: 0;
// }
.demo {
  width: 400px;
  height: 400px;
  background: #f1f1f1;
  text-align: center;
  cursor: pointer;
  .dom1 {
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #bbb9b9;
    transition: all 0.3s;
    &:hover {
      transform: scale(1.015);
    }
  }
  .flex {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    .box {
      width: 70%;
      height: 100px;
      line-height: 100px;
      .dom2 {
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: #e5e5e5;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.015);
        }
      }
      .dom3 {
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: #afafaf;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.015);
        }
      }
      .dom4 {
        width: 100%;
        height: 100px;
        line-height: 100px;
        background-color: #f3f2f2;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.015);
        }
      }
    }
    .dom5 {
      width: 30%;
      height: 300px;
      line-height: 300px;
      background-color: #a1a1a1;
      transition: all 0.3s;
      &:hover {
        transform: scale(1.015);
      }
    }
  }
}

.action {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 294px;
  translate: all 1s;
  &.hidden {
    visibility: hidden;
  }
  &.open {
    visibility: visible;
  }
}
